$Light-red: hsl(0, 100%, 67%);
$Orangey-yellow: hsl(39, 100%, 56%);
$Green-teal: hsl(166, 100%, 37%);
$Cobalt-blue: hsl(234, 85%, 45%);
// background
$Light-slate-blue: hsl(252, 100%, 67%);
$Light-royal-blue: hsl(241, 81%, 54%);
// circle
$Violet-blue: hsla(256, 72%, 46%, 1);
$Persian-blue: hsla(241, 72%, 46%, 0);
$White: hsl(0, 0%, 100%);
$Pale-blue: hsl(221, 100%, 96%);
$Light-lavender: hsl(241, 100%, 89%);
$Dark-gray-blue: hsl(224, 30%, 27%);

@font-face {
  font-family: "hank";
  src: url("../fonts/HankenGrotesk-VariableFont_wght.ttf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "hank", sans-serif;
}
body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: $Pale-blue;
}
.container {
  // display: flex;
  @media (min-width: 768px) {
    max-width: 470px;
    display: flex;
    background-color: $White;
    border-radius: 30px;
  }
  .result {
    flex-basis: 50%;
    background-image: linear-gradient($Light-slate-blue, $Light-royal-blue);
    text-align: center;
    padding: 1.6rem 2rem;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    @media (min-width: 768px) {
      border-radius: 30px;
    }
    h5 {
      color: $Light-lavender;
    }
    .circle {
      border-radius: 50%;
      background-image: linear-gradient($Violet-blue, $Persian-blue);
      width: 100px;
      height: 100px;
      margin: 1.5rem auto;
      display: flex;
      justify-content: center;
      align-items: center;
      h2 {
        font-size: 2rem;
        font-weight: 800;
        color: $White;
      }
      p {
        font-size: 0.8rem;
        color: $Light-lavender;
        opacity: 0.6;
      }
    }
    .great {
      font-size: 1.2rem;
      color: $White;
      margin-bottom: 0.8rem;
    }
    .detail {
      color: $Light-lavender;
      font-size: 0.7rem;
      line-height: 1.5rem;
    }
  }
  .summary {
    flex-basis: 50%;
    padding: 1.5rem;
    h5 {
      font-size: 1rem;
    }
    .card-container {
      margin: 1.4rem 0;
      .card {
        background-color: lighten($Light-red, 30%);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem;
        border-radius: 9px;
        margin-bottom: 0.5rem;
        .reaction {
          display: flex;
          align-items: center;
          gap: 0.8rem;
          img {
            width: 15px;
          }
          h6 {
            font-size: 0.6rem;
            color: $Light-red;
          }
        }
        .rate {
          h5 {
            color: $Dark-gray-blue;
            span {
              opacity: 0.6;
            }
          }
        }
      }

      .memory {
        display: flex;
        align-items: center;
        gap: 0.8rem;

        img {
          width: 15px;
        }
        h6 {
          font-size: 0.6rem;
          color: $Orangey-yellow;
        }
      }
      .verbal {
        display: flex;
        align-items: center;
        gap: 0.8rem;
        img {
          width: 15px;
        }
        h6 {
          font-size: 0.6rem;
          color: $Green-teal;
        }
      }
      .visual {
        display: flex;
        align-items: center;
        gap: 0.8rem;
        img {
          width: 15px;
        }
        h6 {
          font-size: 0.6rem;
          color: $Cobalt-blue;
        }
      }
      .memo-container {
        background-color: lighten($Orangey-yellow, 40%);
      }
      .verbal-container {
        background-color: lighten($Green-teal, 60%);
      }
      .visual-container {
        background-color: lighten($Cobalt-blue, 53%);
      }
      button {
        background-color: $Dark-gray-blue;
        width: 100%;
        height: 40px;
        border-radius: 20px;
        border: 0;
        margin-top: 2rem;
        color: #fff;
        font-weight: 500;
      }
      button:hover {
        background-color: $Light-royal-blue;
      }
    }
  }
}
